.max-gif {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
}
.figure {
    height: inherit;
    width: inherit;
    background-color: #FFFFFFF9;
    @extend %figure-grid;
    &__img {
        width: 318px;
        height: 245px;
        background-color: gray;
        // object-fit: cover;
        // background-color: gray;
        @extend %margin;
        @include respond-to($breakpoint-tablet) {
            width: 48%;
        }
        @include respond-to($breakpoint-desktop) {
            width: 700px;
            height: 400px;
        }   
    }
    &__caption {
        @include flex(row, center, flex-start);
        padding-top: 14px;
        margin: 0 7.7%;
        @include respond-to($breakpoint-tablet) {
            padding-top: 27px;
            margin: 0 26%;
        }
    }
    &__caption-text {
        flex-grow: 2;
        width: 50px;
        text-align: start;
        color: $color-black;
        & .p--small {
            font-family: $secondary-font;
        }
        & .p--normal {
            font-weight: bold;
        }
    }
}
