.body-night {
    color: $color-white;
}
.header-night {
    border-top: 5px solid $color-dark-gray;
    background-color: $color-light-gray;
    &__logo {
        content: url("../img/logo-modo-noc.svg");
    }
    input {
        &:checked ~ nav {
            background-color: $color-black;
            opacity: 1;
            & ul li {
                background-color: $color-black;
            }
        }
        &:not(:checked) ~ label::after {
            content: url("../img/burger-modo-noct.svg");
        }
        &:checked ~ label::after {
            content: url("../img/close-modo-noct.svg");
        }
    }
}
.nav li a.nav-more-night {
    @include respond-to($breakpoint-desktop) {
        content: url("../img/CTA-crear-gifo-modo-noc.svg");
        &:hover {
            border-bottom: none;
            content: url("../img/CTA-crear-gifo-hover-modo-noc.svg");
        }
        &:active {
            content: url("../img/CTA-crear-gifo-active-modo-noc.svg");
        }
    }
}
.nav-night {
    & li a {
        color: $color-white;
    }
}
.main-night {
    background-color:$color-light-gray;
    border-bottom: 1px solid $color-light-gray;
}
.search-bar-night {
    border: 1px solid $color-white;
    background-color: $color-light-gray;
    &__input {
        background-color: $color-light-gray;
        color: white;
    }
    &__button {
        background-image: url("../img/icon-search-mod-noc.svg");
        &.close-btn {
            background-image: url("../img/close-modo-noct.svg");
        }
    }
}
.search-results-night {
    background-color: $color-light-gray;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-dark-gray;
}
.watch-more-button-night {
    background-image: url("../img/CTA-ver+-modo-noc.svg");
    &:hover {
        background-image: url("../img/CTA-ver+hover-modo-noc.svg");
    }
}
.favorites-night , .mis-gifos-night, .create-gifo-night {
    background-color: $color-light-gray;
    border-bottom: 1px solid #222326;
    & p.p--normal, h2{
        color: $color-white;
    }
}
.start-button-night {
    color: $color-white;
    background-color: $color-light-gray;
    border: 1px solid $color-white;
    &:hover {
        color: $color-light-gray;
        background-color: $color-white;
    }
}
.step-one-gifo-night, .step-two-gifo-night, .step-three-gifo-night {
    background-color: $color-light-gray;
    border: 1px solid $color-white;
    color: $color-white;
}
.camera-img-night {
    background-image: url("../img/camara-modo-noc.svg");
}
.pelicula-img-night {
    background-image: url("../img/pelicula-modo-noc.svg");
}
.trending-night {
    background-color: $color-dark-gray;
    // border-top: 1px solid $color-dark-gray;
    border-bottom: 1px solid $color-dark-gray;
    &__p {
        color: $color-white;
    }
}
.footer-night {
    border-bottom: 5px solid $color-black;
    color: $color-white;
    background-color: $color-light-gray;
    // border-top: 1px solid #222326;
}
.facebook-icon-night {
    &:hover {
        background-image: url("../img/icon_facebook_noc.svg");     
    }
}
.twitter-icon-night {
    &:hover {
        background-image: url("../img/icon_twitter_noc.svg");     
    }
}
.instagram-icon-night {
    &:hover {
        background-image: url("../img/icon_instagram_noc.svg");     
    }
}