.trending {
    background-color: $color-gray-bg;
    padding: 46px 11px 82px 11px;
    @include respond-to($breakpoint-desktop){
        padding: 67px 11px 181px 11px;
    }
    // width: 100vw;
    &__p {
        margin: 7px 0 32px 0;
        @include respond-to($breakpoint-tablet){
            margin: 12px 0 53px 0;
        }
        &--normal {
            font-family: $secondary-font;
        }
        &--span::before {
            content: "\A";
            white-space: pre;
            @include respond-to($breakpoint-tablet){
                content: '';
            }
        }
    }
    &__carousel {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        
        @include respond-to($breakpoint-desktop){
            justify-content: center;
        }
    }
    height: 430px;
    @include respond-to($breakpoint-desktop) {
        height:520px;
    }
    @include respond-to($breakpoint-big-desktop) {
        height:640px;
    }
}
%trending-card {
    width: 45%;
    min-width: 243px;
    height: 187px;
    @include respond-to($breakpoint-tablet){
        width: 50px;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

// /* Track */
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
//     background: red; 
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
// }
// ::-webkit-scrollbar-thumb:window-inactive {
//     background: blue; 
// }
.carousel-item {
    cursor: pointer;
    margin: 11px 11px;
    position: relative;
    @extend %trending-card;
    background-color: gray;
    @include respond-to($breakpoint-desktop) {
        width: 200px;
    }
    @include respond-to(1440px) {
        width: 357px;
        min-height: 275px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__details {
        background-color: $color-purple-transparency;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: relative;
        bottom: 101%;
    }
    &:hover &__details {
        opacity: 1;
    }
    &__icons {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    &__text {
        text-align: start;
        color: $color-white;
        position: absolute;
        width: 90%;
        top: 65%;
        // top: 75%;
        left: 13px;
        font-family: $secondary-font;
        &--user {
            font-size: map-get($fs,small);
        }
        &--title {
            height: 40px;
            font-size: map-get($fs,normal);
            font-weight: bold;
        }
    }
}