//Links
%a {
    text-decoration: none;
}
%nav-mobile{
    @extend %a;
    color: $color-white;
}
%nav-desktop {
    @extend %a;
    color: $color-purple;
    &:hover {
        border-bottom: 2px solid $color-mint;
    }
    &:active {
        color: $color-gray-text;
        border-bottom: 2px solid transparent;
    }
}